html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

main {
  min-height: 100%;
  position: relative;
  height: 100%;
  font-family: 'Helvetica';
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
main.blog {
  height: auto;
}

.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}

.flex {
  display: flex;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.table {
  display: table;
}
.table-cell {
  display: table-cell;
}


nav {
  left: 0;
  bottom: 0;
  width: 100%;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

nav .nav-link {
  margin: 2em 1em;
  cursor: pointer;
}

#social_links {
  left: 0;
  top: 0;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  z-index: 1;
  position: fixed;
}

#social_links .social-icon {
  margin: 1.5em 1em;
  cursor: pointer;
}

.built-by-us {
  width: 100%;
  text-align: center;
  margin: -1em 0 1em 0;
  font-family: 'orator';
}

.built-by-us.mobile {
  display: none;
}

.escape {
  cursor: pointer;
}

.cont-cont {
  position: relative;
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
}

.cont-cont.music, .cont-cont.contact {
  background-color: rgba(246,246,246,0.73);
  top: 10%;
  margin: auto;
  height: 80%;
  z-index: 2;
}

.cont-cont.music .table-cell, .cont-cont.contact .table-cell {
  vertical-align: middle;
  text-align: center;
  padding: 2em 0;
}

.cont-cont.music .escape, .cont-cont.contact .escape {
  top: 10px;
  right: 10px;
  padding: 0 0 15px 15px;
}

.cont-cont.music .spokes {
  transform-origin: 50%;
}
.cont-cont.music.playing .spokes {
  animation: spin360 2s linear;
  animation-iteration-count: infinite;
}
#music_tape {
  margin-bottom: 1em;
  position: relative;
  overflow: hidden;
}
#tape_title {
  font-family: 'orator';
}

#music_controls .music-button {
  transition: opacity 0.25s ease;
}

#music_controls .music-button g {
  transition: transform 0.25s ease;
}

#music_controls .music-button.selected g {
  transform: translate(0,10%);
}

#music_controls .music-button.disabled {
  opacity: 0.5;
}

#music_share_hub {
  top: -100%; left: 0;
  width: 100%; height: 100%;
  background: rgba(33,33,33,0.66);
  transition: top 0.5s ease;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
}
#music_share_hub.show {
  top: 0;
}
#music_share_hub .share-button {
  margin: 0 0.5em;
  width: 40px;
}


#blog_cont {
  padding-bottom: 150px;
  text-align: right;
}

#blog_cont svg {
  margin: 1.33em auto 0;
}

#blog_cont .escape {
  left: 0;
  top: 1em;
  width: 45px;
  word-wrap: break-word;
  text-align: center;
  cursor: pointer;
  z-index: 1;
}

#phone_cont {
  width: 95%;
  max-width: 250px;
  display: block;
  margin: 0 auto;
}

#phone_cont #Group-4 .cls-12 {
  cursor: pointer;
}

#hands {
  width: 80px;
  height: 80px;
  animation: handsX 3.05s linear 0s infinite alternate, handsY 3.4s linear 0s infinite alternate;
}

@keyframes spin360 {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes handsX {
  from { left: 0; } to { left: calc(100% - 80px); }
}

@keyframes handsY {
  from { top: 0; } to { top: calc(100% - 80px); }
}


@media screen and (max-width: 768px) {
  .cont-cont {
    z-index: 3;
  }

  .cont-cont.music, .cont-cont.contact {
    top: 2.5%;
    height: 95%;
  }

  .built-by-us.desktop {
    display: none;
  }
  .built-by-us.mobile {
    display: block;
  }

  #social_links {
    height: auto;
    width: 100%;
    top: auto;
    bottom: 0;
    flex-flow: row wrap;
    position: absolute;
  }

  nav {
    top: 0;
    flex-flow: column;
    /*height: 100%;*/
  }

  #hands {
    width: 50px;
    height: 50px;
  }

  @keyframes handsX {
    from { left: 0; } to { left: calc(100% - 40px); }
  }

  @keyframes handsY {
    from { top: 0; } to { top: calc(100% - 40px); }
  }
}

@font-face {
  font-family: 'orator';
  src: url(/assets/OratorStd.woff)
}
