html, body {
  margin: 0;
}

.absolute {
  position: absolute;
}

.flex {
  display: flex;
}

nav {
  left: 0;
  bottom: 0;
  width: 100%;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

nav .nav-link {
  margin: 2em 1em;
  cursor: pointer;
}

#social_links {
  left: 0;
  top: 0;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  z-index: 1;
}

#social_links .social-icon {
  margin: 1.5em 1em;
  cursor: pointer;
}

.built-by-us {
  width: 100%;
  text-align: center;
}

.built-by-us.mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .built-by-us.desktop {
    display: none;
  }
  .built-by-us.mobile {
    display: block;
  }

  #social_links {
    height: auto;
    width: 100%;
    top: auto;
    bottom: 0;
    flex-flow: row wrap;
  }

  nav {
    top: 0;
    flex-flow: column;
    /*height: 100%;*/
  }
}
